<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="header d-flex align-items-center">
    <div class="container-fluid">
        <div class="d-flex justify-content-start align-items-center">
            <div class="logo">
                <a href="./course-list.html">
                    <img src="https://techmaster.vn/resources/image/logo-techmaster/white/white_200x74.png" alt="logo">
                </a>
            </div>
            <div class="menu">
                <a class="text-white text-uppercase ms-5" href="./course-onlab-list.html">Phòng lab</a>
                <a class="text-white text-uppercase ms-3" href="./course-online-list.html">Trực tuyến</a>
            </div>
        </div>
    </div>
</div>

<div class="course-container mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="filterArea">
                <h2 class="fs-5 mb-4">Chủ đề</h2>
<!--                <div class="topic-item input-group d-flex align-items-center mb-1">-->
<!--                    <input type="radio" value="Backend" id="backend" name="topic">-->
<!--                    <label for="backend" class="ms-2 fs-5">Lập trình Backend</label>-->
<!--                </div>-->
<!--                <div class="topic-item input-group d-flex align-items-center mb-1">-->
<!--                    <input type="radio" value="Frontend" id="frontend" name="topic">-->
<!--                    <label for="frontend" class="ms-2 fs-5">Lập trình Frontend</label>-->
<!--                </div>-->
<!--                <div class="topic-item input-group d-flex align-items-center mb-1">-->
<!--                    <input type="radio" value="Di động" id="mobile" name="topic">-->
<!--                    <label for="mobile" class="ms-2 fs-5">Lập trình di động</label>-->
<!--                </div>-->
<!--                <div class="topic-item input-group d-flex align-items-center mb-1">-->
<!--                    <input type="radio" value="Database" id="database" name="topic">-->
<!--                    <label for="database" class="ms-2 fs-5">Cơ sở dữ liệu</label>-->
<!--                </div>-->
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="seach-form d-flex align-items-center rounded shadow-sm mb-4 pe-3">
                            <input type="text" placeholder="Tìm kiếm khóa học" class="form-control border-0 seach-form-input" id="nameInput">
                            <span class="text-black-50 seach-form-button"><i class="fa-solid fa-magnifying-glass"></i></span>
                        </div>
                    </div>
                </div>
                <div class="course-list row" id="course-list">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const courseList = document.getElementById("course-list");
    const filterArea = document.getElementById("filterArea");

    const fetchCourses = async (name, typeValue, topicValue) => {
        try {
            let apiUrl = "http://localhost:8080/api/v1/courses?";
            if (name) {
                apiUrl += `name=${encodeURIComponent(name)}&`;
            }
            if (typeValue) {
                apiUrl += `type=${encodeURIComponent(typeValue)}&`;
            }
            if (topicValue) {
                apiUrl += `topic=${encodeURIComponent(topicValue)}`;
            }
            const response = await fetch(apiUrl);
            const data = await response.json();
            return data;
        } catch (error) {
            console.error("Error fetching data:", error);
            return [];
        }
    };

    const fetchTopics = async () => {
        try {
            const response = await fetch("http://localhost:8080/api/v1/courses/topics");
            const data = await response.json();
            return data;
        } catch (error) {
            console.error("Error fetching topics:", error);
            return [];
        }
    };

    const nameInput = document.getElementById("nameInput");
    nameInput.addEventListener("keyup", event => {
        if (event.key === "Enter") {
            const nameValue = nameInput.value.trim();
            if (nameValue === "") {
                alert("Tên khóa học không được để trống!");
            } else {
                showCourses(nameValue, null, null);
            }
        }
    });

    const createRadioButton = (topic) => {
        const topicItem = document.createElement("div");
        topicItem.className = "topic-item input-group d-flex align-items-center mb-1";
        const inputTopicItem = document.createElement("input");
        inputTopicItem.type = "radio";
        inputTopicItem.value = topic;
        inputTopicItem.id = topic;
        inputTopicItem.name = "topic";
        inputTopicItem.addEventListener("change", () => {
            showCourses(null, null, inputTopicItem.value);
        });

        const labelTopicItem = document.createElement("label");
        labelTopicItem.className = "ms-2 fs-5";
        labelTopicItem.for = topic;
        labelTopicItem.innerText = topic;

        topicItem.appendChild(inputTopicItem);
        topicItem.appendChild(labelTopicItem);

        filterArea.appendChild(topicItem);
    };
    const createTopics = async () => {
        const topics = await fetchTopics();
        topics.forEach(topic => createRadioButton(topic));
    }

    const showCourses = async (name, typeValue, topicValue) => {
        const courses = await fetchCourses(name, typeValue, topicValue);
        courseList.innerHTML = "";
        if (courses.length === 0) {
            const noResult = document.createElement("p");
            noResult.textContent = "Không tìm thấy khóa học phù hợp.";
            courseListDiv.appendChild(noResult);
        } else {
            courses.forEach(course => {
                const courseItem = document.createElement("div");
                courseItem.className = "col-md-4";

                const courseLink = document.createElement("a");
                courseLink.href = `./detail.html?id=${course.id}`;

                const courseCard = document.createElement("div");
                courseCard.className = "course-item shadow-sm rounded mb-4";

                const courseImage = document.createElement("div");
                courseImage.className = "course-item-image";
                const image = document.createElement("img");
                image.src = course.thumbnail;
                image.alt = "khoa hoc";
                courseImage.appendChild(image);

                const courseInfo = document.createElement("div");
                courseInfo.className = "course-item-info p-3";
                const title = document.createElement("h2");
                title.className = "fs-5 mb-3 text-dark";
                title.textContent = course.name;
                const type = document.createElement("p");
                type.className = "type fw-light text-black-50";
                type.textContent = course.type;

                courseInfo.appendChild(title);
                courseInfo.appendChild(type);

                courseCard.appendChild(courseImage);
                courseCard.appendChild(courseInfo);

                courseLink.appendChild(courseCard);
                courseItem.appendChild(courseLink);

                courseList.appendChild(courseItem);
            });
        }
    }
    createTopics();
    showCourses();

</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>