<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div class="bg-light p-4">
    <h1>Danh sách file</h1>
    <form id="uploadForm" action="/api/user/{id}/files" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" />
        <button type="submit" class="btn btn-warning">Upload</button>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>CreateAt</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="file : ${files}">
            <td th:text="${file.id}"></td>
            <td th:text="${file.type}"></td>
            <td th:text="${file.createdAt}"></td>
            <td>
                <button class="btn btn-success view-detail" th:attr="data-id=${file.id}">Xem chi tiết</button>

            </td>
            <td>
                <button class="btn btn-danger delete-user" th:attr="data-id=${file.id}">Xóa</button>
            </td>
        </tr>
        </tbody>
    </table>

    <p class="message d-none"></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>s

<script th:inline="javascript" >
    const deleteButtons = document.querySelectorAll(".delete-user");
    const viewDetailButtons = document.querySelectorAll(".view-detail");

    const currentURL = window.location.href;
    const parts = currentURL.split("/");
    const userId = parts[parts.length - 2];

    document.getElementById("uploadForm").addEventListener("submit", function (e) {
        e.preventDefault();
        const fileInput = document.getElementById("fileInput");
        const formData = new FormData();
        formData.append("file", fileInput.files[0]);
        console.log(userId);
        axios.post(`/api/user/${userId}/files`, formData, {
            headers: {
                "Content-Type": "multipart/form-data"
            }
        })
            .then(function (response) {
                location.reload();
                alert("File uploaded successfully");
            })
            .catch(function (error) {
                location.reload();
                console.error("File upload error:", error);
                alert("Cannot upload file!!!");
            });
    });

    viewDetailButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            window.location.href = `/api/v1/files/${userId}`;
        });
    });

    deleteButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            const userId = button.getAttribute("data-id");
            if (confirm("Bạn có chắc muốn xóa file này?")) {
                axios.delete(`/api/v1/files/${userId}`)
                    .then(function () {
                        button.closest("tr").remove();
                        alert("Xóa thành công!");
                    })
                    .catch(function (error) {
                        console.error(error);
                        alert("Xóa thất bại. Vui lòng thử lại sau.");
                    });
            }
        });
    });

</script>


</body>
</html>